#app {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  font-family: 'ComicNeue-Bold';
}

.header {
  width: 100%;
  height: 50px;
  color: #999;
  border-bottom: 1px solid #282828;

  .score_view_wrapper {
    width: 33%;
    height: 100%;
    float: left;
    text-align: center;
    line-height: 50px;
  }

  .time_view_wrapper {
    width: 33%;
    height: 100%;
    float: left;

    text-align: center;
    line-height: 50px;
  }

  .logo_wrapper {
    width: 34%;
    height: 100%;
    float: left;

    h1 {
      line-height: 50px;
      text-align: center;
    }
  }
}

.welcome {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 48%;
  color: #FFF;
  line-height: 100%;
  vertical-align: center;
  text-align: center;
  font-size: 1.2rem;
}

.tips {
  position: absolute;
  top: 30%;
  left: 4%;
  width: 70%;
  padding: 10%;
  border: 1px solid #282828;
  color: #CCC;
  border-radius: 4px;

  .tips_button_wrapper {
    padding-top: 10%;
    width: 100%;
    text-align: center;
    a {
        display: inline-block;
        padding: 15px 0;
        width: 100%;
        border-radius: 4px;
        background-color: #333;
        color: #CCC;
    }
  }
}

.pool {
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #FFF;
}

.bubble {
  display: block;
  position: absolute;
  border-radius: 100%;
  transition: all 0.5s;

  .bubble-wrapper {
    display: block;
    position: relative;
    z-index: 30;
    width: 0px;
    height: 0px;
    font-size: 0px;
    transition: all 0.5s;

    .bubble-image {
      position: absolute;
      z-index: 10;
      width: 100%;
      height: 100%;
    }

    .bubble-text {
      position: absolute;
      z-index: 20;
      display: block;
      text-align: center;
      color: #999;
      width: 100%;
      height: 100%;
    }
  }

  .bubble-fragment {
    display: block;
    position: relative;
    img {
      position: absolute;
      transition: all 0.5s;
    }
  }
}

.result {
  display: none;
  height: 100%;

  p {
    color: #FFF;
    text-align: center;
    margin-top: 60%;
  }
}
