@font-face {
  font-family: "Arial-Rounded-MT-Bold";
  src: url('../font/Arial-Rounded-MT-Bold.eot');
  src: url('../font/Arial-Rounded-MT-Bold.eot?#iefix') format('embedded-opentype'), url('../font/Arial-Rounded-MT-Bold.woff') format('woff'), url('../font/Arial-Rounded-MT-Bold.ttf') format('truetype');
}
