<header class="header">
  <div class="score_view_wrapper">
    Score: <span class="js_score">0</span>
  </div>
  <div class="time_view_wrapper">
    Time: <span class="js_time">5</span>
  </div>
  <div class="logo_wrapper">
    <h1>GitBubble</h1>
  </div>
</header>
