<header class="header">
  <div class="header-label">
    <div class="score-view-wrapper">
      <span class="js_score">{{ initialScore }}</span>
    </div>
    <div class="time-view-wrapper">
      <span class="js_time">{{ initialTime }}</span>
    </div>
  </div>
  <div class="header-text">
    <span class="score-change js_changed_score"></span>
    <span class="time-change js_changed_time"></span>
  </div>
</header>
