<section class="result">
  <p>
    Game Over.. <br />
    Your only got <span class="js_result_score"></span>...<br /><br />
    <a href="javascript:;" class="js_try_again">[Try Again]</a>
  </p>
</section>
