<section class="result">
  <div class="result-text-wrapper">
    <p>
      Oooops!<br />
      你获得了<br /> 
      <span class="result-score"><strong class="js_result_score"></strong>分!</span><br />
      分享到朋友圈<br />
      邀请你的朋友一起来玩吧!<br />
    </p>
    <p>
      <span class="result-button">
        <a href="javascript:;" class="js_follow">关注 GitCafé</a>
      </span>
      <span class="result-button">
        <a href="javascript:;" class="js_share">晒一晒</a>
      </span>
      <span class="result-button">
        <a href="javascript:;" class="js_try_again">再一次</a>
      </span>
    </p>
  </div>
</section>
