<div class="start">
  <div class="start-wrapper">
    <span class="start-button-wrapper">
      <a href="javascript:;" class="js_show_tips"></a>
    </span>
  </div>
  <p class="reindeer-start-wrapper"></p>
  <p class="santa-start-wrapper" style="background-position-x: {{ santaBackgroundPosX }}px;"></p>
</div>
