<div class="tips">
  <h2>Tips:</h2>
  <ul>
    <li>1. 戳破带有命令的泡泡即可得分，连续戳破相同泡泡有加成</li>
    <li>2. 戳破GitCafe泡泡增加游戏时间</li>
    <li>3. 泡泡破灭速度会越来越块！</li>
    <li>4. 活下去！！！</li>
  </ul>
  <p class="tips_button_wrapper">
    <a href="javascript:;" class="js_tips_start_game tips_button">Go!</a>
  </p>
</div>
